.card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  padding: 10px;
  position: relative;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: #172b4d;
  max-width: 254px;
  font-size: 14px;
}

.card:hover {
  background-color: #f3f5f7;
}
.delete-task-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
