* {
  box-sizing: border-box;
}

.task-list {
  background-color: rgb(235, 236, 240);
  border-radius: 3px;
  display: grid;
  grid-auto-rows: max-content;
  grid-gap: 10px;
  height: max-content;
  padding: 10px;
}
.task-card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  padding: 10px;
}

.hide-input {
  cursor: pointer;
}

.flex-delete {
  display: flex;
  justify-content: space-between;
}

.delete-list {
  cursor: pointer;
}
