* {
  box-sizing: border-box;
}

.task-list {
  background-color: rgb(235, 236, 240);
  border-radius: 3px;
  display: grid;
  grid-auto-rows: max-content;
  grid-gap: 10px;
  height: max-content;
  padding: 10px;
}

.hide-input {
  cursor: pointer;
}

.flex-delete {
  display: flex;
  justify-content: space-between;
}

.delete-list {
  cursor: pointer;
}

.add-card {
  margin: 2px 0 1px 0px;
  padding: 1px 4px;
  cursor: pointer;
  color: #5e6c84;
  border-radius: 2px;
}
.add-card:hover {
  background-color: #dcdee2;
}

.add-card-button {
  cursor: pointer;
}
